footer {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: rgba(255,255,255, 0.5) solid 1px;
}

button {
  float: right;
  padding: 12px 35px;
  border-radius: 4px;
  margin: 10px;
  box-shadow: none;
  font: 100% $font-stack;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
}

a {
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
}

button.nothing-button {
  background: none;
  border: white solid 1px;
}

button.wiki-button {
  background: $button-color;
  background-image: -webkit-linear-gradient(bottom, #6E4474, #8C5594);
  margin-right: 20px;
}
