@import 'variables';

footer {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: rgba(255,255,255, 0.5) solid 1px;
  @include linear-gradient($secondary-color, $primary-color); 
}

button {
  float: right;
  border-radius: 4px;
  margin: 10px 5px;
  box-shadow: none;
  font: 100% $font-stack;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
}

a {
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
}

button.nothing-button {
  background: none;
  border: #ffffff solid 1px;
  padding: 12px 35px;
}

button.wiki-button {
  padding: 12px 45px;
  border: 0;
  background: $button-color;
  margin-right: 20px;
}
