/*.tooltip {
  color: white;
}*/

.tool-class {
  display: none;
}

.tip {
  text-decoration: none;
  text-transform: capitalize;
  font-family: Arial;
  font-weight: lighter;
  content: "HERE IS CONTENT";
  display: block;
  position: absolute;
  padding: 7px;
  min-width: 120px;
  text-align: center;
  width: auto;
  height: auto;
  white-space: nowrap;
  top: 119px;
  background: rgba(0,0,0,.8);
  border-radius:4px;
  color: #fff;
  font-size: .86em;
  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  left:1em;
}




