.custom-tooltip-styling-one {
  background: rgba(0,0,0,.8);
  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  padding: 5px;
  text-align: center;
  width: 40px;
  border-radius: 4px;
  color: #fff;
  font-size: .86em;
  font-weight: lighter;
  height: auto;
  width: 85px;
  white-space: nowrap;
}

.custom-tooltip-styling-two {
  background: rgba(0,0,0,.8);
  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  padding: 5px;
  text-align: center;
  width: 40px;
  border-radius: 4px;
  color: #fff;
  font-size: .86em;
  font-weight: lighter;
  height: auto;
  width: 350px;
  white-space: nowrap;
}

.custom-tooltip-styling-three {
  background: rgba(0,0,0,.8);
  border-color: rgba(0,0,0,.8) transparent transparent transparent;
  border-style: solid;
  padding: 5px;
  text-align: center;
  width: 40px;
  border-radius: 4px;
  color: #fff;
  font-size: .86em;
  font-weight: lighter;
  height: auto;
  width: 300px;
  white-space: nowrap;
}

.ui-helper-hidden-accessible {
  display: none;
}