@import 'tooltip';
@import 'variables';
@import 'mixins';
@import 'footer';

body {
  margin: 0;
  font: 100% $font-stack;
  font-size: 12px;
  @include radial-gradient($primary-color, $secondary-color); 
}

main {
  background: #ffffff;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px #000000;
}

.upper-div {
  padding: 0 15px 15px 15px;
  line-height: 1.5em;
  color: lighten($text-color, 50%);

}

.lower-div {
  color: lighten($text-color, 30%);
  font-weight: bolder;
  margin-bottom: 0;
  border-radius: 0 0 4px 4px;
  text-transform: uppercase;
  background: lighten($primary-button-color, 50%);
  padding: 0 0 15px 0;
  height: 25px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.item {
  margin: -8px;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.inner-item {
  text-align: center;
  text-transform: uppercase;
  font: 100% $font-stack;
  font-weight: bolder;
}


